.contact {
    padding: 0 0 30px;

    @media screen and (min-width: $breakpoint-md) {
        padding: 30px 0 60px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 30px;

        @media screen and (min-width: $breakpoint-lg) {
            flex-direction: row;
            gap: 60px;
            justify-content: space-between;
        }

        
        @media screen and (min-width: $breakpoint-xl) {
            padding: 0 150px;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        @media screen and (min-width: $breakpoint-lg) {
            flex: 1 1 50%;
        }
    }

    &__info-address {
        padding: 0 0 30px;

        a {
            display: inline-block;
            color: $main-color;
            font-size: 21px;
            line-height: 30px;
            cursor: pointer;
            transition: all .3s linear;
    
            &:hover {
                color: $accent-color;
                transition: all .3s linear;
            }

            span {
                display: block;
            }
        }
    }

    &__info-contact {
        padding: 0 0 30px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        a {
            font-size: 21px;
            line-height: 30px;
            transition: all .3s linear;
            
            &:hover {
                transition: all .3s linear;
                color: $accent-color;
            }
        }
    }

    &__info-tel {
        padding: 30px 0 0;
        @include separator-line;

        a {
            color: $main-color;
        }
    }

    &__info-email {
        a {
            color: $regular-color;
        }
    }

    &__info-social {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 30px 0 0;
        @include separator-line;    
    }

    &__info-icon {
        display: flex;
        gap: 10px;
        align-items: center;

        &:hover svg {
            fill: $accent-color;  
        }

        &:hover .contact__info-text {
            color: $accent-color;
        }

        svg {
            display: block;
            fill: $regular-color;
            height: 38px;
            width: 38px;
            transition: all .3s linear;
        }
    }

    &__info-text {
        color: $regular-color;
        font-size: 12px;
        font-weight: 700;
        line-height: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .3s linear;

        span {
           display: block;
        }
    }
}

.contact {

    @media screen and (min-width: $breakpoint-lg) {
       flex: 1 1 50%;
    }

    &__form {
        display: flex;
        flex-direction: column;
        background: $bg-color;
        border-radius: $radius-md;
        padding: 30px;
    }

    &__form-title {
        padding: 0 0 30px;
        @include title;
        @include gradient-text;

        @media screen and (min-width: $breakpoint-md) {
            font-size: 30px;
        }
    }

    &__form-info {
        color: $text-color;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: 30px 0 15px;
    }

    &__form-btn {
        margin: 30px 0 0;
        cursor: pointer;
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    height: 56px;
}

input:invalid {
    box-shadow: 0 0 0 1px $accent-color;
}

.input__name, .input__phone, .input__email, .textarea__message {
    line-height: 26px;
    color: $text-color;
    font-family: "Montserrat";
    padding: 15px;
    border: 0;
    border-radius: $radius-sm;
}

.textarea__message {
    height: 130px;
    resize: none;
}