// COLOR
$main-color: rgba(50, 50, 100, 1);
$alt-color: rgba(70, 70, 110, 1);
$soft-color: rgba(104, 104, 135, 1);

$accent-color: rgba(240, 20, 90, 1);

$regular-color: rgba(36, 163, 255, 1);
$hover-color: rgba(0, 133, 255, 1);
$active-color: rgba(0, 108, 207, 1);

$bg-color: rgba(245, 245, 250, 1);
$bg-alt-color: rgba(237, 237, 247, 1);
$text-color: rgba(179, 179, 186, 1);
$separator-color: rgba(230, 230, 240, 1);
$white-color: #ffffff;

$gradient: linear-gradient(129deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
$gradient-soft: linear-gradient(42deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
$gradient-red: linear-gradient(323deg, #F0145A 6.7%, #693264 70.36%);
$gradient-supersoft: linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$gradient-red-text: linear-gradient(90deg, #F0145A, #EF8080);
$gradient-red-reversed: linear-gradient(to left, #F0145A 0%, #EF8080 100%);

$radius-sm: 8px;
$radius-md: 12px;
$radius-rounded: 50%;

// breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;